<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="zh">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/dashboard.css" >

    <title th:text="#{index.title}"></title>
</head>
<body>

    <header>
        <!-- Fixed navbar -->
        <div th:include="commonFragment :: topNavbar">
        </div>
    </header>


    <div class="container-fluid">
        <div class="row">

            <div th:include="commonFragment :: leftNavbar"></div>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


                <h1 >Hi</h1>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">

                        <thead>
                            <tr>
                                <th th:text="#{car.info.carName}"></th>
                                <th th:text="#{car.info.phone}"></th>
                                <th th:text="#{car.info.make}"></th>
                                <th th:text="#{car.info.price}"></th>
                                <th th:text="#{car.info.pictureUrl}"></th>

                                <th th:text="#{car.info.mileage}"></th>
                                <th th:text="#{car.info.colour}"></th>
                                <th th:text="#{car.info.transmission}"></th>
                                <th th:text="#{car.info.fuelType}"></th>
                                <th th:text="#{car.info.bodyStyle}"></th>

                                <th th:text="#{car.info.engineSize}"></th>
                                <th th:text="#{car.info.vehicleLocation}"></th>
                                <th th:text="#{car.info.vehicleDescription}"></th>
                                <th th:text="#{car.info.vehicleOptions}"></th>
                                <th th:text="#{car.info.status}"></th>

                                <th>状态变量：index</th>
                                <th>状态变量：count</th>
                                <th>状态变量：size</th>
                                <th>状态变量：even</th>
                                <th>状态变量：odd</th>
                                <th>状态变量：first</th>
                                <th>状态变量：last</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr  th:each="car,carStat : ${carList}">
                                <td th:text="${user.carName}"></td>
                                <td th:text="${user.phone}"></td>
                                <td th:text="${user.make}"></td>
                                <td th:text="${user.price}"></td>
                                <td th:text="${user.pictureUrl}"></td>

                                <td th:text="${user.mileage}"></td>
                                <td th:text="${user.colour}"></td>
                                <td th:text="${user.transmission}"></td>
                                <td th:text="${user.fuelType}"></td>
                                <td th:text="${user.bodyStyle}"></td>

                                <td th:text="${user.engineSize}"></td>
                                <td th:text="${user.vehicleLocation}"></td>
                                <td th:text="${user.vehicleDescription}"></td>
                                <td th:text="${user.vehicleOptions}"></td>
                                <td th:text="${user.status}"></td>


                                <th th:text="${carStat.index}">状态变量：index</th>
                                <th th:text="${carStat.count}">状态变量：count</th>
                                <th th:text="${carStat.size}">状态变量：size</th>
                                <th th:text="${carStat.even}">状态变量：even****</th>
                                <th th:text="${carStat.odd}">状态变量：odd</th>
                                <th th:text="${carStat.first}">状态变量：first</th>
                                <th th:text="${carStat.last}">状态变量：last</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="/js/jquery-3.3.1.slim.min.js" ></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/jquery.md5.js"></script>
    <!--<script src="/js/popper.min.js" ></script>-->
    <script src="/js/tether.min.js" ></script>
    <script src="/js/bootstrap.min.js" ></script>

    <!-- Icons -->
    <script src="/js/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>