<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/signin.css" >
    <link rel="stylesheet" href="/css/starter-template.css" >

    <link rel="stylesheet" href="/css/sticky-footer-navbar.css" >

    <title th:text="#{sign.in.title}"></title>
</head>
<body>

<header>
    <!-- Fixed navbar -->
    <div class="container" th:include="header :: navbar">
    </div>
</header>

<!-- Begin page content -->
<main role="main" class="container">

    <form class="form-signin" action="/user/signin">
        <h1 class="h3 mb-3 font-weight-normal" th:text="#{sign.in.title}"></h1>

        <label for="inputEmail" class="sr-only" th:text="#{sign.in.username}"></label>
        <input type="email" id="inputEmail" name="username" class="form-control" placeholder="Username" required="" autofocus="">

        <label for="inputPassword" class="sr-only" th:text="#{sign.in.password}"></label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">

        <div class="checkbox mb-3" style="text-align: left;">
            <label>
                <input type="checkbox" value="rememberMe" th:text="#{sign.in.remember.me}">
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{sign.in.title}"></button>
    </form>

</main>

<footer class="footer">
    <div class="container" th:include="footer :: copyright">
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="/js/jquery-3.3.1.slim.min.js" ></script>
<!--<script src="/js/popper.min.js" ></script>-->
<script src="/js/tether.min.js" ></script>
<script src="/js/bootstrap.min.js" ></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>