<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/signin.css" >
    <link rel="stylesheet" href="/css/starter-template.css" >
    <link rel="stylesheet" href="/css/floating-labels.css" >
    <link rel="stylesheet" href="/css/sticky-footer-navbar.css" >

    <title th:text="#{sign.in.title}"></title>
</head>
<body>

<header>
    <!-- Fixed navbar -->
    <div class="container" th:include="header :: navbar">
    </div>
</header>

<!-- Begin page content -->
<main role="main" class="container">

    <form class="form-signin" action="/user/signin" method="post">
        <div class="text-center mb-4">
            <!--
            图标
            <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            -->
            <h1 class="h3 mb-3 font-weight-normal" th:text="#{sign.in.title}"></h1>

            <div th:if="${message}" id="message" class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong th:if="${message}" th:text="${message}"></strong>
            </div>

            <div th:unless="${message}" id="empty" class="alert" >
                <strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;
            </div>
        </div>

        <div class="form-label-group">
            <input type="email" id="inputEmail" name="username" class="form-control" th:placeholder="#{sign.in.username}" required autofocus>
            <label for="inputEmail" th:text="#{sign.in.username}"></label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" name="password" class="form-control" th:placeholder="#{sign.in.password}" required>
            <label for="inputPassword" th:text="#{sign.in.password}"></label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="rememberMe" th:text="#{sign.in.remember.me}">
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{sign.in.title}"></button>
    </form>

</main>

<footer class="footer">
    <div class="container" th:include="footer :: copyright">
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="/js/jquery-3.3.1.slim.min.js" ></script>
<!--<script src="/js/popper.min.js" ></script>-->
<script src="/js/tether.min.js" ></script>
<script src="/js/bootstrap.min.js" ></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>